<div class="modal fade" id="ListaSalaModal" tabindex="-1" aria-labelledby="ListaSalaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content background">
            <div class="modal-header">
                <h5 class="modal-title" id="ListaSalaModalLabel">Lista de Salas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>